<div class="card card-primary form-add-course">
	<form action="/admin/classes/edit/<%= classVal.id %>"
		method="post">
		<div class="card-body">
			<div class="form-group">
				<label for="">Tên lớp học:</label>
				<input type="text"
					class="form-control"
					name="className"
					value="<%= classVal.name %>"
					placeholder="Nhập tên lớp học" />
				<span class="text-danger"><%= validate.getError(errors, "className")%></span>
			</div>
			<div class="form-group">
				<label for="">Sĩ số:</label>
				<input type="number"
					class="form-control"
					name="classQuantity"
					value="<%= classVal.quantity %>"
					placeholder="Nhập sĩ số" />
				<span class="text-danger"><%= validate.getError(errors, "classQuantity")%></span>
			</div>
			<div class="form-group">
				<label for="">Ngày khai giảng:</label>
				<input type="date"
					class="form-control"
					name="classStartDate"
					value="<%= moment(classVal.startDate).format("YYYY-MM-DD") %>" />
				<span class="text-danger"><%= validate.getError(errors, "classStartDate")%></span>
			</div>
			<div class="form-group">
				<label for="">Lịch học:</label>
				<select data-placeholder="Chọn lịch học"
					multiple
					id="classScheduleClass"
					class="chosen-select form-control"
					name="classSchedule">
					<option value="1"
						<%= scheduleVal.includes(1) ? "selected" : "" %>>Thứ 2</option>
					<option value="2"
						<%= scheduleVal.includes(2) ? "selected" : "" %>>Thứ 3</option>
					<option value="3"
						<%= scheduleVal.includes(3) ? "selected" : "" %>>Thứ 4</option>
					<option value="4"
						<%= scheduleVal.includes(4) ? "selected" : "" %>>Thứ 5</option>
					<option value="5"
						<%= scheduleVal.includes(5) ? "selected" : "" %>>Thứ 6</option>
					<option value="6"
						<%= scheduleVal.includes(6) ? "selected" : "" %>>Thứ 7</option>
					<option value="0"
						<%= scheduleVal.includes(0) ? "selected" : "" %>>Chủ nhật</option>
				</select>
				<span class="text-danger"><%= validate.getError(errors, "classSchedule")%></span>
			</div>
			<% scheduleValStart.forEach((timeStart) => { %>
			<% if(scheduleVal.includes(Number(timeStart.split(" - ")[0]))) { %>
			<input type="hidden"
				data-time-learn-start
				value="<%= timeStart.split(" - ")[1] %>">
			<% }}) %>
			<% scheduleValEnd.forEach((timeEnd) => { %>
			<% if(scheduleVal.includes(Number(timeEnd.split(" - ")[0]))) { %>
			<input type="hidden"
				data-time-learn-end
				value="<%= timeEnd.split(" - ")[1] %>">
			<% }}) %>
			<div class="wrap__time-schedule">

			</div>

			<div class="form-group">
				<label for="">Khóa học:</label>
				<select name="courseId"
					id=""
					class="form-control">
					<option value="">Chọn khóa học</option>
					<% courses.forEach((course) => {%>
					<option value="<%= course.id %>"
						<%= classVal.courseId === course.id ? "selected" : "" %>><%= course.name %></option>
					<% }) %>
				</select>
				<span class="text-danger"><%= validate.getError(errors, "courseId")%></span>
			</div>
		</div>

		<div class="card-footer">
			<input type="hidden"
				name="_method"
				value="PATCH">
			<button type="submit"
				class="btn btn-primary">
				Sửa lớp học
			</button>
		</div>
	</form>
</div>

<script>
	$( ".chosen-select" ).chosen( {
		no_results_text: "Oops, nothing found!"
	} )
</script>