<div class="row">
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= studentQuantity %></h3>

        <p>Học viên</p>
      </div>
      <div class="icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= courseQuantity %></h3>

        <p>Khóa học</p>
      </div>
      <div class="icon">
        <i class="nav-icon fas fa-book"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= classQuantity %></h3>

        <p>Lớp học</p>
      </div>
      <div class="icon">
        <i class="fas fa-door-open"></i>
      </div>
    </div>
  </div>

  <!-- ./col -->
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= teacherQuantity %></h3>

        <p>Giảng viên</p>
      </div>
      <div class="icon">
        <i class="fas fa-chalkboard-teacher mr-1"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-secondary">
      <div class="inner">
        <h3><%= teachingAssistantQuantity %></h3>

        <p>Trợ giảng</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-friends"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>