<form action="/admin/users/permissions/add/<%= user.id %>"
	method="post"
	autocomplete="off">
	<div class="mb-3">
		<label for="">Tên người dùng:</label>
		<input type="text"
			name="userName"
			placeholder="Tên Người dùng..."
			class="form-control"
			value="<%= user.name %>"
			disabled />
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th width="29%">Module</th>
				<th>Quyền</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Quản lý người dùng</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								id="usersRead"
								name="permission"
								value="users.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "users.read") && "checked"  %> />
							<label for="usersRead">Xem</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="usersAdd"
								value="users.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "users.add") && "checked"  %> />
							<label for="usersAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="usersUpdate"
								value="users.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "users.update") && "checked"  %> />
							<label for="usersUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="usersDelete"
								value="users.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "users.delete") && "checked"  %> />
							<label for="usersDelete">Xóa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="usersPermission"
								value="users.permission"
								<%= permissionUtils.getPermissionUser(permissionUser, "users.permission") && "checked"  %> />
							<label for="usersPermission">Phân quyền</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Quản lý role</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="rolesRead"
								value="roles.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "roles.read") && "checked"  %> />
							<label for="rolesRead">Xem</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="rolesAdd"
								value="roles.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "roles.add") && "checked"  %> />
							<label for="rolesAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="rolesUpdate"
								value="roles.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "roles.update") && "checked"  %> />
							<label for="rolesUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="rolesDelete"
								value="roles.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "roles.delete") && "checked"  %> />
							<label for="rolesDelete">Xóa</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Quản lý khóa học</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="coursesRead"
								value="courses.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "courses.read") && "checked"  %> />
							<label for="coursesRead">Xem</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="coursesAdd"
								value="courses.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "courses.add") && "checked"  %> />
							<label for="coursesAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="coursesUpdate"
								value="courses.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "courses.update") && "checked"  %> />
							<label for="coursesUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="coursesDelete"
								value="courses.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "courses.delete") && "checked"  %> />
							<label for="coursesDelete">Xóa</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Quản lý lớp học</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="classesRead"
								value="classes.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "classes.read") && "checked"  %> />
							<label for="classesRead">Xem</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="classesAdd"
								value="classes.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "classes.add") && "checked"  %> />
							<label for="classesAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="classesUpdate"
								value="classes.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "classes.update") && "checked"  %> />
							<label for="classesUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="classesDelete"
								value="classes.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "classes.delete") && "checked"  %> />
							<label for="classesDelete">Xóa</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Quản lý giảng viên/trợ giảng</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="teachersRead"
								value="teachers.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "teachers.read") && "checked"  %> />
							<label for="teachersRead">Xem</label>
						</div>
						<div class="col">

							<input type="checkbox"
								name="permission"
								id="teachersAdd"
								value="teachers.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "teachers.add") && "checked"  %> />
							<label for="teachersAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="teachersUpdate"
								value="teachers.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "teachers.update") && "checked"  %> />
							<label for="teachersUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="teachersDelete"
								value="teachers.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "teachers.delete") && "checked"  %> />
							<label for="teachersDelete">Xóa</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Quản lý học viên</td>
				<td>
					<div class="row">
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="studentsRead"
								value="students.read"
								<%= permissionUtils.getPermissionUser(permissionUser, "students.read") && "checked"  %> />
							<label for="studentsRead">Xem</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="studentsAdd"
								value="students.add"
								<%= permissionUtils.getPermissionUser(permissionUser, "students.add") && "checked"  %> />
							<label for="studentsAdd">Thêm</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="studentsUpdate"
								value="students.update"
								<%= permissionUtils.getPermissionUser(permissionUser, "students.update") && "checked"  %> />
							<label for="studentsUpdate">Sửa</label>
						</div>
						<div class="col">
							<input type="checkbox"
								name="permission"
								id="studentsDelete"
								value="students.delete"
								<%= permissionUtils.getPermissionUser(permissionUser, "students.delete") && "checked"  %> />
							<label for="studentsDelete">Xóa</label>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<button type="submit"
			class="btn btn-primary">Thêm</button>
	</div>
</form>