<div class="card card-primary">
	<form action=""
		method="post">
		<div class="card-body">
			<div class="form-group">
				<label for="">Tên khóa học:</label>
				<input type="text"
					class="form-control"
					id=""
					name="courseName"
					placeholder="Nhập tên khóa học"
					value="<%= course.name %>" />
				<span class="text-danger"><%= validate.getError(errors, "courseName")%></span>
			</div>
			<div class="form-group">
				<label for="">Học phí:</label>
				<input type="number"
					class="form-control"
					id=""
					name="coursePrice"
					placeholder="Nhập học phí"
					value="<%= course.price %>" />
				<span class="text-danger"><%= validate.getError(errors, "coursePrice")%></span>
			</div>
			<div class="form-group">
				<label for="">Giảng viên:</label>
				<select class="form-control"
					name="teacherId"
					id="">
					<option value="">Chọn giảng viên</option>
					<% if(teachers){ %>
					<% teachers.forEach((teacher) => {%>
					<option value="<%= teacher.id %>"
						<%= teacher.name === teacherName ? "selected" : "" %>><%= teacher.name %> - <%= teacher.email %></option>
					<% }) %>
					<% } %>
				</select>
				<span class="text-danger"><%= validate.getError(errors, "teacherId")%></span>
			</div>
			<div class="form-group">
				<label for="">Học thử:</label>
				<input type="number"
					class="form-control"
					id=""
					name="tryLearn"
					placeholder="Nhập số buổi học thử"
					value="<%= course.tryLearn %>" />
				<span class="text-danger"><%= validate.getError(errors, "tryLearn")%></span>
			</div>
			<div class="form-group">
				<label for="">Sĩ số:</label>
				<input type="number"
					class="form-control"
					id=""
					name="courseQuantity"
					placeholder="Nhập sĩ số"
					value="<%= course.quantity %>" />
				<span class="text-danger"><%= validate.getError(errors, "courseQuantity")%></span>
			</div>
			<div class="form-group">
				<label for="">Thời gian (số buổi):</label>
				<input type="number"
					class="form-control"
					id=""
					name="courseDuration"
					placeholder="Nhập số buổi học"
					value="<%= course.duration %>" />
				<span class="text-danger"><%= validate.getError(errors, "courseDuration")%></span>
			</div>
		</div>

		<div class="card-footer">
			<input type="hidden"
				name="_method"
				value="PATCH">
			<button type="submit"
				class="btn btn-primary">
				Sửa khóa học
			</button>
		</div>
	</form>
</div>